/* homepage cover pic*/
#div1 {
  background: url(images/dana.jpg);
  background-size: cover;
  background-position: center;
}

/* navigation bar menu icon colours*/
#navbardark {
  background-color: black;
}

.navbar-toggler {
  background-color: white;
}
.navtoggler2 {
  background-color: black;
}

/* home page services iconboxes*/
.iconbox {
  width: 60px;
  height: 60px;
  align-items: center;
  flex: none;
}

/* navigationbar logo*/
.navlogo {
  width: 120px;
  height: 40px;
}

/* homepage featured shoots pics*/
.latestphotodiv {
  position: relative;
}

.picdiscription {
  position: absolute;
  bottom: 10px;
  left: 2px;
}

.txtshadow {
  text-shadow: 1px 1px black;
}
.photodiv {
  width: 200px;
  height: 300px;
  position: relative;
}
/* about page pics*/
.aboutpic {
  width: 100%;
  height: 100%;
}
/* about page paragraphs*/
.aboutpara {
  text-align: justify;
  font-size: larger;
}
.servicebox {
  transition-duration: 1s;
}
.servicebox :hover {
  transform: scale(1.5);
  transition-duration: 0.5s;
}
/* services icon boxes pic*/
.servicesiconbox {
  width: 60px;
  height: 60px;
}

/* services page cover pic*/
#div2 {
  background: url(images/FB_IMG_1701143256541.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
}

/* Portfolio page images*/

.potfoliodiv {
  position: relative;
  text-align: left;
  padding: 5px;
  transition-duration: 0.2s;
}
.potfoliodiv:hover {
  transform: scale(0.95);
  transition-duration: 0.4s;
}
.imglandscape {
  width: 100%;
  height: 100%;
}

.imgportrait {
  width: 100%;
  height: 100%;
}

.imgdiscription {
  position: absolute;
  left: 6px;
  bottom: 10px;
}
/*catogary nav

.catagorynav {
  background-color: rgb(238, 236, 234);
  overflow: hidden;
}

.catagorynav a {
  float: left;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-align: center;
}*/

/*contact us page embeded links*/
.iframe {
  margin-top: -50px;
}
/*portfolio gallery*/

.picdivportrait {
  width: 100%;
  height: 100% 10px;
  padding: 2px;
  cursor: pointer;
  transition-duration: 0.2s;
}
.picdivportrait:hover {
  transform: scale(0.95);
  transition-duration: 0.4s;
  filter: brightness(90%);
}
.imgp {
  width: 100%;
  height: 100%;
}

.picdivland {
  width: 100%;
  height: 100% 10px;
  padding: 2px;
  cursor: pointer;
  transition-duration: 0.2s;
}
.picdivland:hover {
  transform: scale(0.95);
  transition-duration: 0.4s;
  filter: brightness(90%);
}
.imgl {
  width: 100%;
  height: 100%;
}

.pivdivportraitlarge {
  height: 100% 10px;
  width: 100%;
  cursor: pointer;
  transition-duration: 0.2s;
}
.pivdivportraitlarge:hover {
  transform: scale(0.95);
  transition-duration: 0.4s;
  filter: brightness(90%);
}

/*Image Expand on gallery*/
.fullImage {
  display: none;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}
#expandedImg {
  padding: 15px;
  max-height: 98%;
  max-width: 98%;
}
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
.footernav {
  text-decoration: none;
}
.footerdiv {
  position: relative;
}
.footermap {
  position: absolute;
}
